body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.quiz-box {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 550px;
    text-align: center;
    display: none;
}

#start-screen h3 code {
    font-weight: 200;
    color: #00ff99;
    font-family: poppinse;
}

.option {
    background: rgba(255, 255, 255, 0.2);
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.option:hover {
    background: rgba(255, 255, 255, 0.4);
}

.correct {
    background: #4CAF50 !important;
}

.wrong {
    background: #f44336 !important;
}

button {
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #00c6ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.progress-container {
    margin-top: 15px;
    background: #444;
    border-radius: 10px;
}

.progress-bar {
    height: 10px;
    width: 0%;
    background: #00ff99;
    border-radius: 10px;
}

.timer {
    margin: 10px 0;
    font-size: 18px;
    color: #ffd700;
}

.container {
    text-align: center;
}

.container button:hover {
    background: #2563eb;
}


ul {
    list-style: none;
    padding: 0;
    display: grid;
    justify-content: center;
}

ul li {
    background: #f5f7ff;
    margin: 8px 0;
    padding: 9px 9px;
    border-radius: 8px;
    font-size: 12px;
    color: #444;
    display: block;
    text-align: left;
    transition: 0.3s;
}

ul li:hover {
    background: #e0e7ff;
    transform: translateX(5px);
}

ul li::before {
    content: "✔";
    color: #6c63ff;
    font-weight: bold;
    margin-right: 10px;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

summary {
    margin: 12px;
    background: linear-gradient(135deg, #4a90e2, #357ab7);
    color: #fff;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

summary:hover {
    background: linear-gradient(135deg, #357ab7, #2a5d9f);
}