/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(12px);
    border-left: 1px solid rgba(56, 189, 248, 0.2);
    box-shadow: -10px 0 30px rgba(56, 189, 248, 0.2);
    /* box-shadow: 0 10px 40px rgba(0,0,0,0.25); */
    border-bottom-left-radius: 25px;
    transition: 0.45s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/* Active */
.sidebar.active {
    right: 0;
}

/* Top */
.topBox {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(135deg, #6366f1, #8b5cf6); */
    background: #020617;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: #cbd5f5;
}

/* Logo */
.logo {
    color: #cbd5f5;
    font-weight: 600;
    text-decoration: none;
}

/* Close */
.close-btn {
    font-size: 28px;
    border: none;
    color: white;
    cursor: pointer;
    background: none;
}

/* Container */
.boxContainer {
    flex: 1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Links */
.navLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navLinks a {
    padding: 14px;
    border-radius: 14px;
    text-decoration: none;
    border: 1px solid rgba(56, 189, 248, 0.2);
    color:#cbd5f5;
    transition: 0.3s;
    font-weight: 500;
}

/* Hover */
.navLinks a:hover {
    transform: translateX(8px);
    background: white;
    color: #020617;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* User */
#sidebar-user {
    display: flex;
    padding: 14px;
    border-radius: 14px;
    margin-top: 15px;
     border: 2px solid #00c6ff;
}

#sidebar-user a,p {
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #cbd5f5;
    
}

/* Logout */


#sidebar-bottom {
    width: 100%;
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 14px;
    background: linear-gradient(135deg, #ef4444, #dc2626);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.lastLogoutbtn a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
}


/* Overlay */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 900;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}